<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted"><%= t('project.copyright') %></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <% unless t('project.twitter_url').empty? %>
        <li class="ms-3">
          <a class="text-muted" href="<%= t('project.twitter_url') %>">
            <svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg>
          </a>
        </li>
      <% end %>
      <% unless t('project.instagram_url').empty? %>
        <li class="ms-3">
          <a class="text-muted" href="<%= t('project.instagram_url') %>">
            <svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg>
          </a>
        </li>
      <% end %>
      <% unless t('project.facebook_url').empty? %>
        <li class="ms-3">
          <a class="text-muted" href="<%= t('project.facebook_url') %>">
            <svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg>
          </a>
        </li>
      <% end %>
    </ul>
  </footer>
</div>
