<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="<%= root_path %>" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4 fw-bold"><%= t('project.name') %></span>
    </a>

    <ul class="nav nav-pills">
      <% (1..9).each do |nav_num| %>
        <% unless t("nav.#{nav_num}.url", default: '').empty? %>
          <li class="nav-item">
            <a
              href="<%= t("nav.#{nav_num}.url") %>"
              <% if request.original_fullpath == t("nav.#{nav_num}.url") %>
                class="nav-link active" aria-current="page"
              <% else %>
                class="nav-link"
              <% end %>
            >
              <%= t("nav.#{nav_num}.text") %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </header>
</div>
