<% if Settings.num_key_points > 0 %>
  <% (1..Settings.num_key_points).each do |key_point_num| %>
    <div class="container"><hr></div>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row <% if key_point_num.odd? %>flex-lg-row-reverse <% end %>align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="<%= t(".#{key_point_num}.img_url") %>"
            class="d-block mx-lg-auto img-fluid"
            alt="<%= t(".#{key_point_num}.img_alt") %>"
            width="700"
            height="500"
            loading="lazy"
          >
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3"><%= t(".#{key_point_num}.title") %></h1>
          <p class="lead"><%= t(".#{key_point_num}.text_html") %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
