<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold"><%= t('.title') %></h1>
  <div class="col-lg-6 pt-4 mx-auto">
    <%= link_to t('.button'), crowdfunding_checkout_path, :class => 'btn btn-primary btn-lg px-4 me-sm-3' %>
  </div>
</div>
