<% if Settings.num_other_points > 0 %>
  <div class="bg-light border-top border-bottom">
    <div class="container py-5">
      <div class="row g-2">
        <% (1..Settings.num_other_points).each do |other_point_num| %>
          <div class="col-md-6">
            <div class="p-3">
              <h1 class="fs-2 fw-bold lh-1 mb-3"><%= t(".#{other_point_num}.title") %></h1>
              <p><%= t(".#{other_point_num}.text") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
